@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Poppins', sans-serif;
}

body {
   width: 100vw;
   height: 100vh;
   display: grid;
   place-items: center;
   background-image: linear-gradient(to right bottom, #f8be91, #ffc88b, #ffd385, #ffdf80, #ffec7d, #edf385, #dbfa91, #c9ffa0, #b0ffba, #9fffd3, #99ffe8, #9efbf7);
}

form {
   text-align: center;
   width: 50%;
   background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
   border-radius: 0.5em;
   padding: 4em;
}

.heading {
   padding-bottom: 0.7em;
   color: #fff;
   font-size: 2.2rem;
}

#temp {
   width: 40%;
   font-size: 1rem;
   padding: 0.2em 0 0.2em 0.7em;
}

#temp:focus {
   outline: none;
}

#tempType {
   font-size: 1rem;
   padding: 0.3em 0.3rem 0.3em 0.7em;
}

#sub {
   display: block;
   margin: 1.5em auto 1em auto;
   font-size: 1.3rem;
   padding: 0.2em 0.7em;
   font-weight: 600;
   border: none;
   background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
   border-radius: 0.4em;
   cursor: pointer;
}

@media (max-width: 728px) {
   form {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 90%;
      padding: 2em;
   }

   .heading {
      padding-bottom: 0.4em;
      font-size: 1.4rem;
   }

   #temp {
      width: 100%;
      font-size: 0.8rem;
      margin-bottom: 0.4em;
   }

   #tempType {
      font-size: 0.8rem;
   }

   #sub {
      display: block;
      margin: 1em auto 1em auto;
      font-size: 1rem;
   }

   .result #showAnswer{
      font-size: 1.5rem;
   }
}